<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="container">
        <div class="profile-box">
            <a  class="icp" href="/"> 
            <img class="pimg1 menu" src="css/menu1.webp" alt="">
            </a>
            <a class="icp"  href="/setting"> 
                <img class="pimg1 setting" src="css/set1.webp" alt="">
            </a>
            <div class="site  site1">
                <h2>Hello Bro</h2>
                <p id="scam"></p>
                <p >8308293488</p>
                  
            </div>
               
           <div class="social">
                <a href="http://facebook.com"><img class=" s1" src="css/face1.webp" alt=""></a>
                <a href="http://twitter.com"><img class=" s1" src="css/twit1.webp" alt=""></a>
                <a href="http://instagram.com"><img class=" s1" src="css/insta1.webp" alt=""></a>
           </div>
                  <button type="button"  class="btn" > <a href="/">Back</a></button>


        </div>
    </div>
</body>
<script>

    const day ="This is My phone no"
    let day1 =document.getElementById('scam');

        day1.innerText =day;
</script>
{{>main }}

</html>