<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="container">
        <div class="profile-box">
            <a  class="icp" href="/"> 
            <img class="pimg1 menu" src="css/menu1.webp" alt="">
            </a>
            <a class="icp"  href="/setting"> 
                <img class="pimg1 setting" src="css/set1.webp" alt="">
            </a>
            <div class="main-box">

            <div onclick="col1()" class="gol">Black</div>
            <div onclick="col()" class="gol">Forest</div>
            <div onclick="col2()" class="gol">Default</div>
     
            </div>
           
           <div class="social">
                <a href="http://facebook.com"><img class=" s1" src="css/face1.webp" alt=""></a>
                <a href="http://twitter.com"><img class=" s1" src="css/twit1.webp" alt=""></a>
                <a href="http://instagram.com"><img class=" s1" src="css/insta1.webp" alt=""></a>
           </div>
          {{>footer}}
        </div>
    </div>
</body>
{{>main }}

</html>