<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="container">
        <div class="profile-box">
            <a  class="icp" href="/"> 
            <img class="pimg1 menu" src="css/menu1.webp" alt="">
            </a>
            <a class="icp"  href="/setting"> 
                <img class="pimg1 setting" src="css/set1.webp" alt="">
            </a>
            <div class="site">
                <a class="remove" target="_blank" href="https://pratiknutsandtransport.herokuapp.com/"> <h2>Travel </h2></a>
                <a class="remove" target="_blank" href="https://app-weather-arcade.herokuapp.com/"> <h2>Weather</h2></a>
                <a class="remove" target="_blank" href="https://sonarpratik.github.io/reactlive/"> <h2>TextUtile App</h2></a>
                <a class="remove" target="_blank" href="https://sonarpratik.github.io/iGame/"> <h2>iGame</h2></a>
              
            </div>
          
           <div class="social">
                <a href="http://facebook.com"><img class=" s1" src="css/face1.webp" alt=""></a>
                <a href="http://twitter.com"><img class=" s1" src="css/twit1.webp" alt=""></a>
                <a href="http://instagram.com"><img class=" s1" src="css/insta1.webp" alt=""></a>
           </div>
                     {{>footer}}

        </div>
    </div>
</body>
{{>main }}

</html>