<button type="button" class="btn" onclick="open1()">
Follow</button>
<div class="p-bottom">
  <p>Learn More About My Profile</p>
  <a href="/error"><i class="fa fa-arrow-down"></i></a>

<div class="blast">
  <div onclick="col1()" class="child"></div>
  <div onclick="col()" class="child1"></div>
  <div onclick="col2()" class="child2"></div>
</div>
</div>