
            <div class="main-box">

                <div onclick="col1()" class="gol">Black</div>
                <div onclick="col()" class="gol">Forest</div>
                <div onclick="col2()" class="gol">Default</div>

            </div>
