 <div class="site">
                <a class="remove" target="_blank" href="https://ecomclient.vercel.app/">
                    <h2>E-commerce</h2>
                </a>
                <a class="remove" target="_blank" href="https://pratiknutsandtransport.herokuapp.com/">
                    <h2>Travel </h2>
                </a>
                <a class="remove" target="_blank" href="https://app-weather-arcade.herokuapp.com/">
                    <h2>Weather</h2>
                </a>
                <a class="remove" target="_blank" href="https://sonarpratik.github.io/reactlive/">
                    <h2>TextUtile App</h2>
                </a>
                <a class="remove" target="_blank" href="https://sonarpratik.github.io/iGame/">
                    <h2>iGame</h2>
                </a>

            </div>