
            <div class="social last-stack">
                <a href="http://facebook.com"><img class=" s1" src="css/face1.webp" alt=""></a>
                <a href="http://twitter.com"><img class=" s1" src="css/twit1.webp" alt=""></a>
                <a href="http://instagram.com"><img class=" s1" src="css/insta1.webp" alt=""></a>
            </div>